@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*drop down meanu*/
.dropDown{
  position: absolute;
  top: 20px;
  right: 25px;
  width: 150px;
  max-height: fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}